In [1]:
import pandas as pd
import os

In [3]:


all_apba = pd.DataFrame()
    # gets the list of all files in the apba folder.
for file in os.listdir("apba_data"):
        # this should never be false
        if file.endswith(".csv"):
            # the year is in the last two digits of the file name beofre the .csv
            year = file.split(".")[0][-2:]
            year_data = pd.read_csv("apba_data/" + file)
            year_data["year"] = int(year) + 2000

            all_apba = all_apba._append(year_data, ignore_index=True)
print(all_apba.columns)

Index(['Last', 'First', 'Team', 'RateAssist', 'RateCDefence', 'RateClearing',
       'RateCoincidentalMinor', 'RateCRank', 'RateCShotPct', 'RateCShotPlus',
       ...
       'SimShutouts', 'SimTies', 'SimWins', 'Unused1', 'Unused2', 'Unused3',
       'Unused4', 'Unused5', 'Unused6', 'year'],
      dtype='object', length=147)

In [4]:
all_apba

,Last,First,Team,RateAssist,RateCDefence,RateClearing,RateCoincidentalMinor,RateCRank,RateCShotPct,RateCShotPlus,...,SimShutouts,SimTies,SimWins,Unused1,Unused2,Unused3,Unused4,Unused5,Unused6,year
0,Aho,Sebastian,CAR,126,4,0,0,1,25,43,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2019
1,Jos. Anderson,Josh,CBJ,44,0,0,0,NaN,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2019
2,Jo. Bailey,Josh,NYI,165,0,0,1,NaN,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2019
3,Barkov,Aleksander,FLA,112,4,0,1,1,34,59,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,Barzal,Mathew,NYI,153,2,0,1,1,20,28,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8498,Omark,Linus,TOT,51,0,0,1,NaN,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2014
8499,C.Brown,Chris,TOT,74,1,0,1,3.0,25,33,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2014
8500,Vanek,Thomas,TOT,139,0,0,1,NaN,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2014
8501,Moulson,Matt,TOT,97,0,0,1,NaN,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2014
8502,Diaz,Raphael,TOT,33,0,1,1,NaN,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2014

In [13]:
cols = all_apba.columns.tolist()

In [14]:
cols

['Last',
 'First',
 'Team',
 'RateAssist',
 'RateCDefence',
 'RateClearing',
 'RateCoincidentalMinor',
 'RateCRank',
 'RateCShotPct',
 'RateCShotPlus',
 'RateFaceoff',
 'RateFight',
 'RateForechecking',
 'RateGameFatigue',
 'RateGameMisconduct',
 'RateGRank',
 'RateGrossMisconduct',
 'RateHiddenGoalScored',
 'RateHiddenSaveClear',
 'RateHiddenSaveFaceoff',
 'RateHiddenSaveRebound',
 'RateHiddenShotDefender',
 'RateHiddenShotDeflected',
 'RateHiddenShotOnGoal',
 'RateHiddenShotWide',
 'RateInactive',
 'RateInjuryFactor',
 'RateIntimidation',
 'RateLDDefence',
 'RateLDRank',
 'RateLDShotPct',
 'RateLDShotPlus',
 'RateLWDefense',
 'RateLWRank',
 'RateLWShotPct',
 'RateLWShotPlus',
 'RateMajor',
 'RateMatch',
 'RateMinor',
 'RateMisconduct',
 'RatePassing',
 'RatePenaltyKilling',
 'RatePhysical',
 'RatePosition',
 'RateRDDefence',
 'RateRDRank',
 'RankRDShotPct',
 'RateRDShotPlus',
 'RateRock',
 'RateRookie',
 'RateRwDefence',
 'RateRWRank',
 'RateRWShotPct',
 'RateRWShotPlus',
 'RateSDefence',
 'RateShiftFatigue',
 'RateShotBlocking',
 'RateSkating',
 'RateSpeed',
 'RateSShotPct',
 'RateSShotPlus',
 'RealAssists',
 'RealBlockedShots',
 'RealCornersLost',
 'RealCornersWon',
 'RealCurrentPointStreak',
 'RealEmptyNetGoals',
 'RealFaceoffsLost',
 'RealFaceoffsWon',
 'RealFightsLost',
 'RealFightsTied',
 'RealFightsWon',
 'RealGAA',
 'RealGamesPlayed',
 'RealGameTyingGoals',
 'RealGameWinningGoals',
 'RealGoals',
 'RealGoalsAgainst',
 'RealHits',
 'RealLongestPointStreak',
 'RealLosses',
 'RealMinutes',
 'RealPassesCompleted',
 'RealPassesIncomplete',
 'RealPenaltyMinutes',
 'RealPlusMinus',
 'RealPoints',
 'RealPowerplayGoals',
 'RealSavePct',
 'RealSaves',
 'RealShorthandedGoals',
 'RealShotsOnGoal',
 'RealShutouts',
 'RealTies',
 'RealWins',
 'SimAssists',
 'SimAssistsLastGame',
 'SimBlockedShots',
 'SimCoincidentalMinors',
 'SimCornersLost',
 'SimCornersWon',
 'SimCurrentPointStreak',
 'SimDaysInjured',
 'SimEmptyNetGoals',
 'SimFaceoffsLost',
 'SimFaceoffsWon',
 'SimFights',
 'SimFightsLost',
 'SimFightsTied',
 'SimFightsWon',
 'SimGAA',
 'SimGameMisconducts',
 'SimGamesPlayed',
 'SimGameTyingGoals',
 'SimGameWinningGoals',
 'SimGoals',
 'SimGoalsAgainst',
 'SimGoalsLastGame',
 'SimGrossMisconducts',
 'SimHits',
 'SimLongestPointStreak',
 'SimLosses',
 'SimMajors',
 'SimMatches',
 'SimMinors',
 'SimMinutes',
 'SimMisconducts',
 'SimPassesCompleted',
 'SimPassesIncomplete',
 'SimPenaltiesInMinutes',
 'SimPlusMinus',
 'SimPoints',
 'SimPowerPlayGoals',
 'SimSavePct',
 'SimSaves',
 'SimShorthandedGoals',
 'SimShotsOnGoal',
 'SimShutouts',
 'SimTies',
 'SimWins',
 'Unused1',
 'Unused2',
 'Unused3',
 'Unused4',
 'Unused5',
 'Unused6',
 'year']

In [15]:
good_cols = ['Last', 'First', 'year']
good_cols += [col for col in cols if col.startswith("Rate")]

all_apba = all_apba.filter(items=good_cols)

In [16]:
all_apba

,Last,First,year,RateAssist,RateCDefence,RateClearing,RateCoincidentalMinor,RateCRank,RateCShotPct,RateCShotPlus,...,RateRWRank,RateRWShotPct,RateRWShotPlus,RateSDefence,RateShiftFatigue,RateShotBlocking,RateSkating,RateSpeed,RateSShotPct,RateSShotPlus
0,Aho,Sebastian,2019,126,4,0,0,1,25,43,...,NaN,0,0,0,90,0,5,5,25,43
1,Jos. Anderson,Josh,2019,44,0,0,0,NaN,0,0,...,1,23,53,0,90,0,4,4,23,53
2,Jo. Bailey,Josh,2019,165,0,0,1,NaN,0,0,...,1,25,33,0,90,0,4,3,25,33
3,Barkov,Aleksander,2019,112,4,0,1,1,34,59,...,NaN,0,0,0,90,0,4,4,34,59
4,Barzal,Mathew,2019,153,2,0,1,1,20,28,...,NaN,0,0,0,90,0,5,5,20,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8498,Omark,Linus,2014,51,0,0,1,NaN,0,0,...,1.0,0,0,0,90,0,3,3,0,3
8499,C.Brown,Chris,2014,74,1,0,1,3.0,25,33,...,1.0,25,33,0,90,0,2,3,25,33
8500,Vanek,Thomas,2014,139,0,0,1,NaN,0,0,...,2.0,22,36,0,90,0,3,3,22,36
8501,Moulson,Matt,2014,97,0,0,1,NaN,0,0,...,NaN,0,0,0,90,0,3,3,26,38
8502,Diaz,Raphael,2014,33,0,1,1,NaN,0,0,...,NaN,0,0,0,120,2,3,3,6,15